// 颜色变量
$defaultColor: #ecf5ff;
$primaryColor: #409eff;
$successColor: #85c161;
$warningColor: #e6a23c;
$dangerColor: #f56c6c;
$grayColor: #c0c4cc;
$bgFColor: #fff;

$bdDefaultColor: #b3d8ff;
$bdGrayColor: #ebeef5;

$fColor: #fff;
// 字体变量
$fontSize: 12px;
$midFontSize: 14px;
$bigFontSize: 16px;

// border 变量
